<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>exam6</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <form action="/sb/member/insert" method="post" enctype="multipart/form-data">
    <table>
      <tr>
        <td><label class="col-form-label">이름</label></td>
        <td><input type="text" name="name" placeholder="이름을 입력하시오" class="form-control"></label></td>
      </tr>
      <tr>
        <td><label class="col-form-label">나이</label></td>
        <td><input type="text" name="age" placeholder="나이를 입력하시오" class="form-control"></label></td>
      </tr>
      <tr>
        <td><label class="col-form-label">국적</label></td>
        <td><input type="text" name="name" placeholder="국적을 입력하시오" class="form-control"></label></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-primary" type="submit">submit</button>
          <button class="btn btn-danger" type="reset">cancel</button>
        </td>
      </tr>
    </table> 

  </form>
</body>
</html>